* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-one,
.container-two {
    /* flex: 1;
    flex-direction: column; */
    border: 1px solid gray;
    position: relative;
    margin: .5em;
    padding: 4em;
}

.buttons-label, 
.inputs-label,
.cards-label,
.colors-label,
.fonts-label,
.icons-label {
    position: absolute;
    background-color: #F3F4F6;
    left: 0;
    font-size: .75rem;
    margin-top: -3rem;
    padding: .25rem;
    padding-right: .5rem;
    padding-left: 1.5rem;
    /* border: 1px solid gray; */
    border-left: none;
    border-radius: 15px;
    height: 1.75rem;
    width: 6rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
}

.button-container {
    margin-top: -1rem;
    display: flex;
    gap: 1em;
}

.primary-button {
    background-color: #242E4C;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    color: #F3F4F6;
}

.secondary-button {
    background-color: #E9EAED;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    margin: 1em 0;
    color: #242E4C;
}

.default-button-container,
.hovered-button-container {
    display: flex;
    flex-direction: column;
}

.default-p,
.hovered-p {
    font-style: italic;
    text-align: center;
    margin: 1em;
}

.form {
    display: flex;
    flex-direction: column;
}

/* Inputs: Start */

/* .inputs-label {
    position: absolute;
    background-color: #F3F4F6;
    left: 0;
    font-size: .75rem;
    padding: .25rem;
    padding-right: .5rem;
    padding-left: 2rem;
    border: 1px solid gray;
    border-left: none;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 2rem;
    height: 1.75rem;
    width: 6rem;
} */

.inputs-label {
    margin-top: 2rem;
}

.inputs-container {
    margin-top: 5.5em;
}

.form label {
    font-weight: bold;
    font-size: 0.9rem;
}

.inputs-container input {
    border: 1px solid gray;
    border-radius: 8px;
    height: 2rem;
    width: 18rem;
    margin: 0.25rem 0;
    padding: 0.5em;
}

.input-three-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 4px; */
    align-items: center;
}

.input-three-div span {
    margin-bottom: 4px;
    margin-left: .5em;
}

.input-span {
    margin-left: 1rem;
    font-style: italic;
    line-height: 1rem;
}

/* Inputs: End */

/* Cards: Start */

.cards-label {
    margin-top: 3rem;
}

.cards-container {
    margin-top: 6.5rem;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 26rem;
}

.default-card-background-container, 
.hovered-card-background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.default-card,
.hovered-card {
    height: 120px;
    width: 140px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.default-card {
    background-color: #F3F4F6;
}

.hovered-card {
    background-color: #FFF;
}

/* Cards: End */

/* Column Right: Start */
/* Colors: Start */

.colors-container {
    display: flex;
    gap: 1em;
    margin-top: 1rem;
}

.color-box {
    height: 80px;
    width: 70px;
    gap: 1em;
    display: flex;
    align-items: center;
}  

.color-box-span {
    height: 80px;
    width: 70px;
    font-size: 0.57rem;
    font-style: italic;
    margin-top: 1em;
}

.div-color-box-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.color-box:nth-of-type(1) {
    background-color: #242E4C;
    color: #F3F4F6;
}
.color-box:nth-of-type(2) {
    background-color: #738BFD;
    color: #F3F4F6;
}
.color-box:nth-of-type(3) {
    background-color: #F55623;
    color: #F3F4F6;
}
.color-box:nth-of-type(4) {
    background-color: #767E96;
    color: #F3F4F6;
}
.color-box-five {
    height: 80px;
    width: 70px;
    background-color: #E9EAED;
    display: flex;
    align-items: center;
}
.color-box:nth-of-type(6) {
    background-color: #F3F4F6;
}

/* Colors: End */

/* Fonts: Start */

.fonts-label {
    width: 10rem;
    margin-top: 0;
}

.headings-container {
    margin-top: 3em;
}

.headings-container p {
    margin: .75em 0;
}

.headings-container p:nth-of-type(1) {
    font-size: 1.75rem;
    color: #1E1A50;
}

.headings-container p:nth-of-type(2) {
    font-size: 1rem;
    color: #1E1A50;
}

.headings-container p:nth-of-type(3) {
    font-size: 0.875rem;
    color: #1A2950;
}

.headings-container p:nth-of-type(4) {
    font-size: 0.875rem;
    color: #738BFD;
}

.headings-container p:nth-of-type(5) {
    font-size: 0.875rem;
    color: #767E96;
}

.headings-container p:nth-of-type(6) {
    font-size: 0.75rem;
    color: #1A2950;
}

.headings-container p:nth-of-type(7) {
    font-size: 0.75rem;
    color: #767E96;
}

.headings-container p:nth-of-type(8) {
    font-size: 0.75rem;
    color: #F55623;
}

/* Fonts: End */

/* Icons: Start */

.icons-label {
    margin-top: 3.25rem;
}

.icons-container {
    margin-top: 8rem;
    width: 26rem;
}

.icons-container ion-icon {
    width: 40px;
    height: 40px;
    margin: .25em;
}

/* Icons: End */
/* Column Right: End */